#map { height: 100vh; }

/* Universalselektor */
* {
	font-family: Arial, Verdana, sans-serif; 
	text-align: justify;
	font-size:1rem;
	padding: 0;
	margin: 0;
	border-radius: 0.5rem;
}

/* Allgemeine Einstellungen, gelten für alle Elemente mit diesem Namen*/
p { 
	font-size:1rem
}

h1 { 
	font-size: 1.5rem; 
	font-style: bold;
}

h2 { 
	font-size: 1.4rem; 
	font-style: italic;
}

h3 { 
	font-size: 1.2rem; 
}
/* Für alle Überschriften Text zentrieren, untere margin 2rem*/
h1, h2, h3 {
	text-align: center;
	margin-bottom: 2rem;		
}

div.options h1, div.route h1 {
	font-size: 1.8rem; 
	font-style: bold;
	color: #739072;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top: 5%;
}

div.route, div.search, div.follow {
	row-gap: 20px;
  	justify-content: space-between;
}

div.new, div.add, div.delete {
	row-gap: 10px;
  	justify-content: space-between;
}

div.search button, div.follow button, div.new button, div.add button, div.delete button, div.toggle button, #addclick, #removeclick {
	border-radius: 5px;
	max-width: 90%;
	text-align: center;
	margin: 0 auto;
}

div.new input, div.add input, div.delete input {
	border-radius: 10px;
	max-width: 90%;
	text-align: center;
	margin: 0 auto;
}

div.select p {
	color: #3A4D39;
	text-align: center;
}

#active_route {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.4rem; 
	color: #3A4D39;
}

body {
	/* Image from: https://pixabay.com/de/illustrations/kompass-nautisch-jahrgang-karte-3408928/ */
	background-image: url(compass.jpg);
	backdrop-filter: blur(5px);
}

div.all {
	background-color: #3A4D39;
}

div.route {
	background-color: #ECE3CE;
}

div.options {
	background-color: #ECE3CE;
}

button {
	background-color: #4F6F52;
	color: #ECE3CE;
	margin: 10%;
	display: inline-block;
	box-sizing: border-box;
	border: 3px solid transparent;
	width: 100%;
	padding: 4px;
	border-radius: 25px;
}

button:hover {
	background-color: #ECE3CE;
	border-color: #3A4D39;
	color: #3A4D39;
}

#options {
	display:none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
	color: #739072;
}

.arrow-icon {
	width: 20px;
	height: 20px;
}

	.arrow-icon > div {
		margin-left: -1px;
		margin-top: -3px;
		transform-origin: center center;
		font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}

/******************* Autocompletion Madness ***********/

* { box-sizing: border-box; }
body {
  font: 15px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}